{% extends 'home/baseSearch.html' %}
{%load static%}
{% block content %}
<div id="wrap">

	{% if recommend != 0 %}
	<div id="PostList">
		<hr  class="hidden" />
		<h1>추천판매글</h1>
		<div style=" cursor: pointer;" onclick="location.href='{% url 'post_detail' recommend.id %}';">
			<h1>{{ recommend.title }}</h1>
			<div style="overflow: hidden; width:150px; height:150px">
				<img src="{{recommend.image.url}}" height="150px"></img>
			</div>
			<h3>{{recommend.price}}원</h3>
			<h3>{{recommend.createTime.year}}년 {{recommend.createTime.month}}월 {{recommend.createTime.day}}일 {{recommend.createTime.hour}}시 {{recommend.createTime.minute}}분</h3>
			<h3>{{recommend.dealAddress}}</h3>
		</div>
	{% endif %}
		{% for search in searchList %}
		<hr  class="hidden" />
		<div style=" cursor: pointer;" onclick="location.href='{% url 'post_detail' search.id %}';">
			<h1>{{ search.title }}</h1>
			<div style="overflow: hidden; width:150px; height:150px">
				<img src="{{search.image.url}}" height="150px"></img>
			</div>
			<h3>{{search.price}}원</h3>
			<h3>{{search.createTime.year}}년 {{search.createTime.month}}월 {{search.createTime.day}}일 {{search.createTime.hour}}시 {{search.createTime.minute}}분</h3>
			<h3>{{search.dealAddress}}</h3>
		</div>
		{% endfor %}
	</div>
	<hr  class="hidden" />
	<div id="wrap">
		<div id="slideShow">
			<ul class="slides">
				<li><img src="{% static 'home/img/image1.jpg' %}" alt=""></li>
				<li><img src="{% static 'home/img/image2.jpg' %}" width="1016" height="200" alt=""></li>
				<li><img src="{% static 'home/img/image3.jpg' %}" width="1016" height="200" alt=""></li>
				<li><img src="{% static 'home/img/image4.jpg' %}" width="1016" height="200" alt=""></li>
				<li><img src="{% static 'home/img/image5.jpg' %}" width="1016" height="200" alt=""></li>
				<li><img src="{% static 'home/img/image6.jpg' %}" width="1016" height="200" alt=""></li>
			</ul>
			<p class="controller">
				<span class="prev">&lang;</span>
				<span class="next">&rang;</span>
			</p>
		</div>
		<div id="contents">
			<div id="campaign">
				<img src="{% static 'home/img/picture1.png' %}" width="1016" height="200" alt=""  />
			</div>
		</div>
		<hr  class="hidden" />
		
{% endblock%}
