{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width, initial-scale=1.0, maximum-scale=1.0" /> 
	<meta name="format-detection" content="telephone=no">
	<title>신뢰성 높은 중고거래, 쇠고랑</title>
	<link rel="shortcut icon" href="/React-PortFolio/favicon.ico">
	<link rel="stylesheet" type="text/css"  href="{% static 'post/css/mobile.css' %}" media="only screen and (max-width:200px)"  />
	<link rel="stylesheet" type="text/css"  href="{% static 'post/css/desktop.css' %}" media="only screen and (min-width:201px)"  />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
	</script> <!-- jquery와 bootstrap을 임포트해줌 -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
	</script>
	<style type="text/css"></style>
	{% block head %}
	{% endblock %}
</head>
<body style="margin:0px;">
  
	<div id="skipNav">
		<a href="">신뢰성 높은 중고거래, 쇠고랑</a>
	</div>
	<hr class="hidden" />
	<a href="{% url 'home' %}"><img src="{% static 'post/img/쇠고랑logo.png' %}" class="weegle" alt="LOGO")></a>
	<div id ="searchbox" style="width: 100%; text-align:center">
		<form action="{% url 'search' %}" method="get">
			<input type="text" name="keyWord" placeholder="상품을 검색하세요.">
			<input style="
			width: 94%;
			border: 1px solid #7cc0cb;
			background-color: white;
			color: #7cc0cb;
			padding: 5px;
			border-radius: 5px;
			" type="submit" value="검색">
			
			<br/>
		<select name="selectbox"  onchange="sellectCategory(this.value);" float="right">
			<option name="none" value="">---</option>
			<option name="recent" value=0>최신순</option>
			<option name="price" value=1>가격순</option>
			<option name="popular" value=2>인기순</option>
		</select>
		<select name="selectbox2" float="right">
				<option name="none" value="">---</option>
				<option name="Clothing" value=Clothing>의류</option>
				<option name="Electronics" value=Electronics>전자제품</option>
				<option name="Stationery"value=Stationery>문구</option>
				<option name="furniture" value=furniture>가구</option>
		</select>
		</form>
	</div>
	<div id="header">
		<ul id="menu" style="margin:8px;">
			{% if user.is_authenticated %}
				<li>회원명: {{ user.username }}</li>
				<li><a href="{% url 'home' %}">홈</a></li>
				<li><a href="javascript:{document.getElementById('logout').submit()}"
				style="
				text-decoration: none;
				font-family: 'Yanone', 'Nanum Gothic', '맑은 고딕', Helvetica, Arial, sans-serif;
				font-size: 20px;
				color: #999;
				text-decoration: none;">
				로그아웃</a></li>
				<li style="margin:0px;"><a href="{% url 'mypage' %}">마이페이지</a></li>
				<form id="logout" method="POST" action="{% url 'logout' %}">
					{% csrf_token %} <input type="hidden" />
				</form>
			{% else %}
				<li><a href="{% url 'signin' %}">로그인</a></li>
				<li><a href="{% url 'signup' %}">회원가입</a></li>
				<li><a href="product_detail.html">상품전체페이지</a></li>
			{% endif %}
		</ul>
	</div>
	
	<div style="margin:8px">
    {% block content %} 
	</div>
	{% comment %} 상속한 템플릿에서 구현해야 하는 영역 {% endcomment %} 
    {% endblock %}
		


		<address id="footer">
			Copyright &copy; 쇠고랑 All. rights reserved <br />
			<i></i><span>segura(안전한) 쇠고랑</span>
		</address>
	</div>
</body>
{% block script %}
{% endblock %}
</html>