{% extends 'post/baseSearch.html' %}
{%load static%}
{% block content %}
{% block head %}
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="mobile-web-app-capable" content="yes">
<link rel="stylesheet" type="text/css"  href="{% static 'post/css/product.css' %}"/>
<style>
 .map_wrap {position:relative;width:300px;height:350px;}
 .title {font-weight:bold;display:block;}
 .hAddr {position:absolute;left:10px;top:10px;border-radius: 2px;background:#fff;background:rgba(255,255,255,0.8);z-index:1;padding:5px;}
 #centerAddr {display:block;margin-top:2px;font-weight: normal;}
 .bAddr {padding:5px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
</style>
{% endblock %}
<div class="productImage">
    <div style="position: absolute;">
        <div style="position:relative; top:5px; left:5;" >
            <img class="backbutton" src="{% static 'post/img/goBack.png' %}" onclick="history.back()"  width="25px" height="25px">
        </div>
    </div>
    <img src="{{ data.image.url }}" class="weegle">
</div>
<ul class="productDetail">
    <br>
    <li class="create_time"> {{data.createTime.year}}년 {{data.createTime.month}}월 {{data.createTime.day}}일 {{data.createTime.hour}}시 {{data.createTime.minute}}분</li>
    <hr>
    <li class="productName">
        {% if data.dealStatus == 1 %}
        <p class="State">판매중</p>
        {% elif data.dealStatus == 0 %}
        <p class="State">거래가능</p>
        {% endif %}
        {{data.title}}</li> <!--상품이름-->
    <hr>
    <li class="productPrice">{{data.price}}원</li> <!--상품가격-->
    <hr>
    <div class="map_wrap">
        <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
            <div class="hAddr">
                <span class="title">지도중심기준 행정동 주소정보</span>
                <span id="centerAddr"></span>
            </div>
    </div>
    <hr>
    <li class="productDescrip">
        {{data.content}}
        <br>
    </li> <!--상세내용-->
    <hr>
    <li class="productCondition">{{data.status}}</li> <!--상품상태-->
    <hr>
    <li class="ProductLog">최근 거래 기록
        <hr>
        <h5 class="log1">1 : 22/06/03 12:00:32&nbsp;|&nbsp;2,000,000원</h5>
        <h5 class="log2">2 : 22/06/01 15:30:07&nbsp;|&nbsp;2,120,000원</h5>
        <h5 class="log3">3 : 22/05/26 19:24:57&nbsp;|&nbsp;1,950,000원</h5>
    </li> <!--최근 거래기록 로그 표시-->
    <hr>
    <li class="SimilarProduct">유사 상품
        <h5 class="similar">상품1</h5>
        <h5 class="similar">상품2</h5>
        <h5 class="similar">상품3</h5>
    </li>
    <hr>
    <br>
</ul>
    {% if data.dealStatus == 1 %}
		{% if user.username == data.seller or user.username == data.buyer %}
        <div class="Button_1">
            <button type="button" class="chatingButton2" onclick="window.open('{% url 'room' data.id 0 %}')">채팅</button>
        </div>
		<form action="{% url 'deal_com' data.id %}" method="post">
			{% csrf_token %}
            <div class="Button_1">
                <button type="submit" class="chatingButton">거래확정</button>
            </div>
		</form>

		{% endif %}
	{% elif data.dealStatus == 0 and user.is_authenticated %}
		{% if user.username == data.seller %}
        <div class="Button_1">
            <button type="button" class="chatingButton" onclick="window.open('{% url 'post_edit' data.id %}')">수정</button>
        </div>
		{% elif user.username != data.seller %}
        <div class="Button_1">
            <button class="chatingButton" onclick="window.open('{% url 'req_deal' data.id %}')">거래 신청</button>
        </div>
		{% endif %}
	{% endif %}
{% block script %}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5d366006e8ceeefed767191cac1e7f5a&libraries=services"></script>
<script>
    
var container = document.getElementById('map'),
    options = {
         center: new kakao.maps.LatLng({{data.latitude}}, {{data.longitude}}),
         level: 3
    };
 
var map = new kakao.maps.Map(container, options);
 

// 주소-좌표 변환 객체를 생성합니다
var geocoder = new kakao.maps.services.Geocoder();

var marker = new kakao.maps.Marker(), // 클릭한 위치를 표시할 마커입니다
    infowindow = new kakao.maps.InfoWindow({zindex:1}); // 클릭한 위치에 대한 주소를 표시할 인포윈도우입니다

// 현재 지도 중심좌표로 주소를 검색해서 지도 좌측 상단에 표시합니다
searchAddrFromCoords(map.getCenter(), displayCenterInfo);

// 지도를 클릭했을 때 클릭 위치 좌표에 대한 주소정보를 표시하도록 이벤트를 등록합니다
    searchDetailAddrFromCoords(new kakao.maps.LatLng({{data.latitude}},{{data.longitude}}), function(result, status) {
        if (status === kakao.maps.services.Status.OK) {
            var detailAddr = !!result[0].road_address ? '<div>도로명주소 : ' + result[0].road_address.address_name + '</div>' : '';
            detailAddr += '<div>지번 주소 : ' + result[0].address.address_name + '</div>';
            var content = '<div class="bAddr">' +
                            '<span class="title">법정동 주소정보</span>' + 
                            detailAddr +
                        '</div>';

            // 마커를 클릭한 위치에 표시합니다 
            marker.setPosition(new kakao.maps.LatLng({{data.latitude}},{{data.longitude}}));
            marker.setMap(map);

            // 인포윈도우에 클릭한 위치에 대한 법정동 상세 주소정보를 표시합니다
            infowindow.setContent(content);
            infowindow.open(map, marker);
        }   
    });

function displayCenterInfo(result, status) {
    if (status === kakao.maps.services.Status.OK) {
        var infoDiv = document.getElementById('centerAddr');

        for(var i = 0; i < result.length; i++) {
            // 행정동의 region_type 값은 'H' 이므로
            if (result[i].region_type === 'H') {
                infoDiv.innerHTML = result[i].address_name;
                break;
            }
        }
    }    
}

function searchDetailAddrFromCoords(coords, callback) {
    // 좌표로 법정동 상세 주소 정보를 요청합니다
    geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
}

function searchAddrFromCoords(coords, callback) {
    // 좌표로 행정동 주소 정보를 요청합니다
    geocoder.coord2RegionCode(coords.getLng(), coords.getLat(), callback);         
}
</script>
{% endblock%}

{% endblock%}