{% extends 'post/baseCategorySearch.html' %} 
{%load static%}
{% block content %}
{% csrf_token %}
	<div id="wrap">

		<div id="NameList">
			<h1>상품 정보</h1>
			<hr  class="hidden" />
			{% for data in product %}
			<a href= "{% url 'product_category' data.productPIN %}">
				<h1>{{ data.title }}</h1>
				<div style="overflow: hidden; width:150px; height:150px">
					<img src="{{search.image.url}}" height="150px"></img>
				</div>

				<li class="productName">상품명 : {{data.name}}</li>
				<li class="location"> 브랜드 : {{data.brand}}</li>
				<li class="product_PIN"> 상품 코드 : {{data.productPIN}}</li>
				<li class="productPrice"> 거래 시세 : {{data.price}} 원</li>
			</div>
			
			{% endfor %}
		</div>
		<hr  class="hidden" />
		<div id="PostList">
			<h1>게시글 정보</h1>
			{% for search in searchList %}
			<hr  class="hidden" />
			<a href= "{% url 'post_detail' search.postPIN %}">
				<h1>{{ search.title }}</h1>
				<div style="overflow: hidden; width:150px; height:150px">
					<img src="{{search.image.url}}" height="150px"></img>
				</div>
				<h3>{{search.price}}원</h3>
				<h3>{{search.createTime.year}}년 {{search.createTime.month}}월 {{search.createTime.day}}일 {{search.createTime.hour}}시 {{search.createTime.minute}}분</h3>
				<h3>{{search.dealAddress}}</h3>
			</div>
			{% endfor %}
		</div>
		<hr  class="hidden" />

		<div id="작성"><a href="{% url 'create' %}"><button>글 작성</button></a></div>

{% endblock %}

