*{
    margin: 0;
    padding: 0;
}
 
.chat_wrap .header {
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0;
    background: #7cc0cb;
    color: white;
    text-align: center;
}
 
.chat_wrap .chat {
    padding-bottom: 80px;
}

.chat_wrap .chat ul {
    width: 100%;
    list-style: none;
}

.chat_wrap .chat ul li {
    width: 100%;
}

.chat_wrap .chat ul li.left {
    text-align: left;
}

.chat_wrap .chat ul li.right {
    text-align: right;
}
 
.chat_wrap .chat ul li > div { 
    font-size: 13px;
}

.chat_wrap .chat ul li > div.sender {
    margin: 10px 20px 0 20px;
    font-weight: bold;
}

.chat_wrap .chat ul li > div.message {
    word-break:break-all;
    margin: 5px 20px;
    max-width: 75%;
    border: 1px solid #888;
    padding: 10px;
    border-radius: 5px;
    background-color: #FCFCFC;
    color: #555;
    text-align: left;
}
 
.chat_wrap .input-div {
    bottom: 0;
    width: 100%;
    background-color: blue;
    text-align: center;
    border-top: 1px solid #7cc0cb;
    border-bottom: 1px solid #7cc0cb;
}

.chat_wrap .input-div > textarea {
    width: 100%;
    height: 80px;
    border: none;
    padding: 10px;
}
 
.format {
    display: none;
}

.chat_wrap .chating_form .chating1{
    border: 1px solid #7cc0cb;
    background-color: white;
    color: #7cc0cb;
    padding: 5px;
    border-radius: 5px;
}

.chat_wrap .chating_form .chating1:hover{
    color: white;
    background-color: #7cc0cb;
}

.chat_wrap .chating_form .chating2{
    border: 1px solid #7cc0cb;
    background-color: white;
    color: #7cc0cb;
    padding: 5px;
    border-radius: 5px;
}

.chat_wrap .chating_form .chating2:hover{
    color: white;
    background-color: #7cc0cb;
}

.chat_wrap .chating_form .chating3{
    border: 1px solid #7cc0cb;
    background-color: white;
    color: #7cc0cb;
    padding: 5px;
    border-radius: 5px;
}

.chat_wrap .chating_form .chating3:hover{
    color: white;
    background-color: #7cc0cb;
}

.chat_wrap .chating_form .chating4{
    border: 1px solid #7cc0cb;
    background-color: white;
    color: #7cc0cb;
    padding: 5px;
    border-radius: 5px;
}

.chat_wrap .chating_form .chating4:hover{
    color: white;
    background-color: #7cc0cb;
}

.chat_wrap .chating_form .chating5{
    border: 1px solid #7cc0cb;
    background-color: white;
    color: #7cc0cb;
    padding: 5px;
    border-radius: 5px;
}

.chat_wrap .chating_form .chating5:hover{
    color: white;
    background-color: #7cc0cb;
}

.chat_wrap .chating_form .chating6{
    border: 1px solid #7cc0cb;
    background-color: white;
    color: #7cc0cb;
    padding: 5px;
    border-radius: 5px;
}

.chat_wrap .chating_form .chating6:hover{
    color: white;
    background-color: #7cc0cb;
}

.chat_wrap .chating_form .chating7{
    border: 1px solid #7cc0cb;
    background-color: white;
    color: #7cc0cb;
    padding: 5px;
    border-radius: 5px;
}

.chat_wrap .chating_form .chating7:hover{
    color: white;
    background-color: #7cc0cb;
}

.chat_wrap .chating_form .chating8{
    border: 1px solid #7cc0cb;
    background-color: white;
    color: #7cc0cb;
    padding: 5px;
    border-radius: 5px;
}

.chat_wrap .chating_form .chating8:hover{
    color: white;
    background-color: #7cc0cb;
}

.chat_wrap .chating_form .chating9{
    border: 1px solid #7cc0cb;
    background-color: white;
    color: #7cc0cb;
    padding: 5px;
    border-radius: 5px;
}

.chat_wrap .chating_form .chating9:hover{
    color: white;
    background-color: #7cc0cb;
}

.chat_wrap .chating_form .chating10{
    border: 1px solid #7cc0cb;
    background-color: white;
    color: #7cc0cb;
    padding: 5px;
    border-radius: 5px;
}

.chat_wrap .chating_form .chating10:hover{
    color: white;
    background-color: #7cc0cb;
}

.Success{
    width:93%;
    height:50px;
    margin-left: 15px;
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

.Success .p{
    font-size: large;
    font-family: sans-serif;
    font-weight: bold;
}